@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

$--font-classic: 'Chakra Petch', sans-serif;

.main__h1 {
  font-family: $--font-classic;
}

h1 {
  font-weight: 700;
  font-size: 50px;
}

.main__p {
  font-family: $--font-classic;
}

p {
  font-size: 20px;
  line-height: 30px;
}
